/* START efgh styles */

// color swatches
@columbiablue:          #D3F1FD;
@cyanprocess:           #00AFF2;
//@darkcyan:              #028688;
@celadonblue:           #007BAB;
@royalbluedark:         #1D1C56;
@black:                 #404040;

/*** HEADER ***/
.uw-search-bar-container {
  .radio {
    &.checked {
      color: @celadonblue;
      .second-icon {
        color: @celadonblue;
      }
      .fui-radio-checked {
        &:before {
          background-position: -404px -25px;
        }
      }
      .fui-radio-unchecked {
        &:before {
          background-position: -380px -25px;
        }
      }
    }
  }
}

.uw-thinstrip {
  background: @columbiablue;
  a.blog-name {
    position: absolute;
    left: 0;
    color: @celadonblue;
    //font-family: @EncodeSansCompressed;
    font-size: 36px;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    top: -8px;
    &:hover,
    &:focus {
      color: @cyanprocess;
    }
    @media only screen and (min-width: 768px)  and (max-width: 991px) {
      font-size: 72px;
      padding: 0;
      top: -40px;
    }
    @media only screen and (min-width: 992px) {
      font-size: 72px;
      padding: 0;
      top: -40px;
    }
  }
  #search-quicklinks {
    min-width: auto !important;
  }
  button.uw-search {
    border-color: @white;
    background-color: @celadonblue;
    &:hover,
    &:focus {
      border-color: @white;
      background-color: @cyanprocess;
    }
    @media only screen and (max-width: 767px) {
      right: 0;
    }
  }
  //mixin
  .thinlinks_pseudo(){
    color: @celadonblue;
    &:hover,
    &:focus {
      color: @cyanprocess;
    }
    &:after {
      right: 12px;
      background: none;
      border-right: 1px solid @celadonblue;
      -webkit-transform: skewX(-25deg) skewY(0);
      -o-transform: skewX(-25deg) skewY(0);
      transform: skewX(-25deg) skewY(0);
      -webkit-transform: skew(-25deg,0);
      -ms-transform: skewX(-25deg) skewY(0);
      transform: skew(-25deg,0);
    }
  }
  ul.uw-thin-links {
    li {
      a {
        .thinlinks_pseudo;
      }
      button {
        .thinlinks_pseudo;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      &:before {
        background-color: @columbiablue;
      }
    }
  }
}

/*** MENU ***/
#dawgdrops {
  background-color: @white;
}
.dawgdrops-menu {
  border-top: 4px solid @celadonblue;
  li {
    a {
      color: @celadonblue;
      &:hover,
      &:focus {
        color: @cyanprocess !important;
        background-color: @columbiablue !important;
      }
    }
  }
}
.dawgdrops-item {
  a {
    color: @celadonblue;
    &:hover,
    &:focus {
      color: @cyanprocess !important;
    }
  }
}

/* mobile menu */
ul.uw-mobile-menu {
  li.pagenav {
    ul {
      li.current_page_parent {
        background-color: @cyanprocess;
      }
      li.current_page_item {
        background-color: @cyanprocess;
      }
      li.current_page_parent.current_page_ancestor {
        > a {
          &:hover {
            color: @celadonblue;
          }
          &:focus {
            color: @celadonblue;
          }
        }
      }
    }
  }
  > div {
    ul {
      li {
        a {
          color: @darkgray;
        }
      }
      li.current_page_parent.current_page_ancestor {
        a {
          &:hover {
            color: @celadonblue;
          }
        }
      }
      li.current_page_item {
        background-color: @cyanprocess;
        a {
          border-left: 10px solid @celadonblue;
        }
      }
      li.current_page_parent {
        background-color: @cyanprocess;
      }
    }
  }
}
/* mobile button */
@media only screen and (max-width: 768px) {
  #mobile-relative {
    button.uw-mobile-menu-toggle {
      color: @darkgray;
      background: url(assets/svg/caret.svg) no-repeat 20px 25px;
    }
  }
  button#mobile-sidebar-menu {
    color: @darkgray;
    border: 2px solid @darkgray;
  }
  #ham {
    span {
      background: @darkgray;
    }
  }
}
/* sidebar menu */
body.home {
  #mobile-sidebar {
    display: none;
  }
}
ul.uw-sidebar-menu {
  li.pagenav {
    ul {
      li.current_page_parent {
        background-color: @cyanprocess;
      }
      li.current_page_parent.current_page_ancestor {
        > a {
          text-decoration: none;
          &:hover {
            color: @columbiablue;
          }
          &:focus {
            color: @columbiablue;
          }
          &:after {
            background-color: @columbiablue;
          }
        }
      }
      li.current_page_ancestor {
        ul.children {
          li.page_item {
            a {
              text-decoration: none;
            }
          }
          li.current_page_item {
            span {
              border-left: 10px solid @celadonblue;
            }
          }
        }
      }
      li.current_page_item {
        background-color: @cyanprocess;
        span {
          border-left: 10px solid @celadonblue;
        }
      }
    }
  }
}

/* blank template */
.uw-site-title-blank {
  color: @celadonblue;
}

/* breadcrumbs */
.uw-breadcrumbs {
  li.current {
    span {
      color: @celadonblue;
    }
  }
}

.udub-slant {
  span {
    background-color: @celadonblue !important;
  }
}

/* BODY */

.uw-body {
  h1, h2 {
    color: @celadonblue;
  }
  h3, h4, h5, h6 {
    color: @darkgray
  }
  a {
    &:hover,
    &:focus {
      color: @cyanprocess;
    }
  }
  .uw-site-title {
    @media only screen and (min-width: 768px) {
      display: none;
    }
    @media only screen and (max-width: 767px) {
      color: @celadonblue;
    }
  }
}

/*uw-slideshow */
div.uw-slideshow {
  > div.slide {
    div {
      background-color: @cyanprocess;
      h3 {
        a {
          &:hover,
          &:focus {
            color: @celadonblue !important;
          }
        }
      }
    }
  }
  &.photo-slider {
    > div.slide {
      div {
        background-color: @celadonblue;
      }
    }
  }
}

/* searchform */
#searchform {
  #searchsubmit {
    outline: 1px solid @darkgray;
    background-color: @celadonblue;
  }
}

/* SIDEBAR */
.uw-sidebar {
  .widgettitle {
    color: @celadonblue;
    &::before {
      background-color: @cyanprocess;
    }
    &::after {
      background-color: @white !important;
    }
  }
}

/* WIDGETS */
.widget {
  &.uw-recent {
    a {
      &.widget-link {
        color: @celadonblue;
        &:hover,
        &:focus {
          color: @cyanprocess;
        }
      }
    }
  }
}
.contact-widget-inner {
  background-color: @lightgray;
    .widgettitle {
    &::after {
      background-color: @lightgray !important;
    }
  }
}
.cards-widget {
  .default-card {
    background-color: @lightgray;
    h3 {
      color: @celadonblue;
      a {
        color: @celadonblue;
      }
    }
    a.uw-btn {
      background-color: @celadonblue;
      &::before,
      &:hover::before,
      &:focus::before {
        background-color: @cyanprocess;
      }
    }
  }
  .enhanced-card {
    h3 {
      background-color: @cyanprocess;
      &::after {
        background-color: @cyanprocess;
      }
    }
  }
}

/* SHORTCODES */
/* uw button */
a.uw-btn,
a.uw-btn.btn-gray,
button.uw-btn,
button.uw-btn.btn-gray {
  background-color: @columbiablue;
  &::before {
    background-color: @cyanprocess;
  }
  &:hover,
  &:focus {
    &::before {
      background-color: @celadonblue;
    }
  }
}
a.uw-btn.btn-gold,
button.uw-btn.btn-gold {
  background-color: @columbiablue;
  &::before {
    background-color: @celadonblue;
  }
  &:hover,
  &:focus {
    &::before {
      background-color: @cyanprocess;
    }
  }
}

/* uw accordion */
.uw-accordion-shortcode__header, {
  color: @celadonblue;
}
.uw-accordion-shortcode__header:hover,
.uw-accordion-shortcode__header:focus {
  color: @cyanprocess;
}

/* Custom uw-hero-slideshow template */
.page-template-template-slideshow-hero {
  .uw-hero-image.hero-height {
    &.photo-slider {
      .uw-hero-slideshow {
        div.uw-slideshow {
          &.photo-slider {
            div.slide {
              div {
                background-color: @cyanprocess;
              }
            }
          }
        }
      }
    }
  }
}
/* template-video-hero */
.page-template-template-video-hero {
  .uw-hero-image.hero-height {
    #hero-container {
      a.uw-btn {
        color: @celadonblue;
        background-color: @columbiablue;
        &::before {
          background-color: @cyanprocess;
        }
        &:hover,
        &:focus {
          &::before {
            background-color: @celadonblue;
          }
        }
      }
    }
  }
}

/* DGH footer wordmark */
.uw-footer {
  background: url(assets/footer/footer-banner.jpg) center bottom;
  //background-image: none;
  background-color: @columbiablue;
  background-repeat: no-repeat;
  background-size: cover;
  .footer-wordmark,
  .footer-wordmark:focus,
  .footer-wordmark:hover  {
    background: url(assets/footer/footer_logo-xs.png) no-repeat 0px 0px transparent;
    height: 320px;
    width: 320px;
    background-size: contain;
    @media only screen and (min-width: 768px) {
      background: url(assets/footer/footer_logo-sm.png) no-repeat 0px 0px transparent;
      height: 450px;
      width: 450px;
      background-size: contain;
    }
  }

  h4 {
    color: @celadonblue;
    &:before,
    &:after {
      background-color: @celadonblue;
    }
  }

  ul.footer-links {
    li {
      a {
        color: @celadonblue;
        &:hover,
        &:focus {
          color: @cyanprocess;
          text-decoration: underline;
          &::after {
            color: @celadonblue;
          }
        }
      }
    }
  }
  ul.footer-social {
    li {
      a {
        color: @celadonblue;
      }
    }
    li {
      a.facebook  {
        background-position: 0px -225px;
        &:hover,
        &:focus {
          background-position: 0px -185px;
        }
      }
      a.twitter  {
        background-position: -46px -225px;
        &:hover,
        &:focus {
          background-position: -46px -185px;
        }
      }
      a.instagram  {
        background-position: -322px -225px;
        &:hover,
        &:focus {
          background-position: -322px -185px;
        }
      }
      a.youtube  {
        background-position: -138px -225px;
        &:hover,
        &:focus {
          background-position: -138px -185px;
        }
      }
      a.linkedin  {
        background-position: -184px -225px;
        &:hover,
        &:focus {
          background-position: -184px -185px;
        }
      }
    }
  }
  p {
    color: @celadonblue;
  }
}

a.back-to-top {
  background-color: @celadonblue !important;
}

/* make post title links green on listing pages */
body.blog,
body.archive.date,
body.archive.category,
body.archive.tag,
body.search-results {
  #main_content {
    h3 {
      a {
        color: @celadonblue;
        &:hover,
        &:focus {
          color: @cyanprocess;
        }
      }
    }
  }
}

/* blog tags */
.uwdgh-tag {
  padding: 1px 3px;
  background-color: @columbiablue;
  border-radius: 3px;
  a[rel=tag] {
    text-decoration: none;
    color: @celadonblue;
    &:hover,
    &:active {
      color: @cyanprocess;
    }
  }
}





/* download table styles */
table {
  &.table--dlm {
    tbody {
      tr {
        font-size: 85%;
        &[data-href] {
          cursor: pointer;
        }
        td {
          span {
            &.filetype-icon {
              display: inline-block;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
/* uw cloud icon */
div.uw-cloud-icon {
  width:30px;
  img {
    width:28px;
  }
}


/* END efgh styles */
