/* uw-hero-slideshow */
.page-template-template-slideshow-hero {

  // mobile-menu wrapper for uw-hero-slideshow template pages
  .mobile-menu-wrapper {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    .mobile-menu-wrapper {
      display: block;
      margin: 65px 20px -10px 20px;
      #mobile-relative {
        margin-top: 0;
        ul.uw-mobile-menu {
          margin-bottom: 0px;
        }
      }
    }
  }

  .uw-hero-image.hero-height {
    margin-bottom: 40px;
    height: 410px;
    @media only screen and (max-width: 767px) {
      height: 350px;
      padding: 0;
    }
    .uw-hero-slideshow {
      height: 0;
      @media only screen and (max-width: 767px) {
        //height: 390px;
      }
      div.uw-slideshow {
        margin-top: 0;
        height: 450px;
        @media only screen and (max-width: 767px) {
          height: 390px;
        }
        div.slide {
          display: flex;
          flex-direction: column;
          justify-content: center;
          @media only screen and (max-width: 767px) {
            justify-content: initial;
          }
          div {
            opacity: .9;
            padding-right: 45px;
            @media only screen and (max-width: 767px) {
              padding-bottom: 10px;
              padding-right: 90px;
              padding-top: 10px;
            }
            h3 {
              a {
                &:hover,
                &:active {
                  color: @lightgold;
                }
              }
            }
            p {
              @media only screen and (max-width: 767px) {
                font-size: 80%;
              }
            }
          }
        }
      }
      
    }
    #hero-bg {
      margin-left: 60px;
      margin-right: 60px;
      @media only screen and (max-width: 767px) {
        margin-left: auto;
        position: absolute;
        top: 0;
        left: 15px;
      }
      #hero-container {
        h1 {
          padding-top: 40px;
          @media only screen and (max-width: 767px) {
            padding-top: 40px;
            font-size: 45px;
          }
          &:after {
            height: 450px;
            opacity: .1;
            display: none;
            @media only screen and (max-width: 767px) {
              height: 390px;
              opacity: .1;
              display: none;
            }
          }
          @media only screen and (min-width: 768px)  and (max-width: 991px) {
            font-size: 60px;
          }
        }
        .udub-slant {
          @media only screen and (min-width: 768px) and (max-width: 1199px) {
            display: none;
          }
        }
      }
    }
    // simple presentation [slideshow id=<id> simple=true]
    &.photo-slider {
      height: 350px;
      .uw-hero-slideshow {
        div.uw-slideshow {
          &.photo-slider {
            max-height: 433px !important;
            @media only screen and (max-width: 599px) {
              height: 433px !important;
            }
            div.slide {
              div {
                background-color: @purple;
                opacity: .9;
                display: initial;
              }
            }
            .has-text {
              &::after {
                display: initial;
              }
            }
            &::after {
              bottom: 43px;
              @media only screen and (max-width: 599px) {
                width: 200px;
              }
            }
          }
        }
      }
    }
  }

  // simple presentation has a fullscreen mode
  &.activeFullscreen {
    .uw-hero-image.hero-height {
      &.photo-slider {
        .uw-hero-slideshow {
          div.uw-slideshow {
            &.photo-slider {
              max-height: 100% !important;
            }
          }
        }
      }
    }
  }

  .uw-content[role=main] {
    @media only screen and (max-width: 767px) {
      padding-top: 15px;
    }
  }

}
/* END uw-hero-slideshow */
